#wrap{
	background:#FFFFFF;
}

.wrap_inner{
	margin:40px auto;
	width:1040px;
	margin:20px auto;
	background:#c0c0c0;
}

.kaisha {
width: 100%;
}
 
.kaisha th,
.kaisha td {
border: 1px solid #ccc;
padding: 20px;
}
 
.kaisha th {
font-weight: bold;
background-color: #dedede; 
}
 
@media screen and (max-width: 767px) {
.kaisha,
.kaisha tr,
.kaisha td,
.kaisha th {display:block;}
.kaisha th {width:auto;}
}

footer{
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding-top: 10px;  /*文字上部の余白指定*/
    padding-bottom: 10px;   /*文字下部の余白指定*/
    background-color: #313131;  /*背景色の指定*/
}
footer address{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
}

.gazo{
background-image: url("building.jpg");
height:270px;
width:950px;
}










